[2014-04-07 07:19] lowks opened #4 "Error when running tests"
I get this when I try running `MIX_ENV=test mix test`:

[code]

[2014-04-07 09:31] #4 closed, assigned to nobody

[2014-04-20 15:08] theinventor opened #6 "help building"
Hey, I'm brand new to erlang/elixir - setting up a fresh machine to try to build this on;

I did a brew install erlang, got the newest elixir in my path

`mix deps.get` <- worked

But then fails on lager;

[code]

I don't know if that is a symptom, but doing what it said next got a little further;

[code]

Then I'm stuck - I couldn't find anything online about this last error

Any ideas? Feel free

[2014-05-14 08:13] #6 closed, assigned to nobody

[2014-08-07 23:11] darrencauthon opened #8 "Signaturex validation issue"
I've used previous versions of Poxa with no issue, but installing a later one (0.1.0) has had some trouble.

I thought it was an issue with the pusher gem (using Ruby to trigger events), but I realized that I was getting the same errors when I tried to log in to the Poxa site.  I'd enter the credentials at the top, then it would error.

I was able to get that page, and my own code, to work by comm

[2014-08-08 14:17] #8 closed, assigned to nobody

[2014-08-10 02:40] edgurgel opened #9 "Define config/config.exs"
Also change README to use `config.exs` instead of Erlang config files. Also specify link to [exrm](https://github.com/bitwalker/exrm) documentation on how to configure releases properly.

[2014-08-10 02:41] edgurgel opened #10 "Get integration test to run again"
https://github.com/edgurgel/poxa/blob/master/test/integration/public_channel_test.exs

[2014-08-14 17:23] madhugilla opened #11 "ignore posted in the wrong project."
went through the following steps from the site http://elixir-lang.org/getting_started/1.html

$ git clone https://github.com/elixir-lang/elixir.git
$ cd elixir
$ make clean test

and i get the following error when i run the cmd make clean test

cd lib/elixir && ../../rebar clean
==> elixir (clean)
rm -rf ebin
rm -rf lib/_/ebin
rm -rf lib/elixir/test/ebin
rm -rf lib/_/tmp
rm -rf lib/mix/test/fixtur

[2014-08-14 21:10] #11 closed, assigned to nobody

[2014-08-25 10:48] #10 closed, assigned to nobody

[2014-08-25 11:54] #9 closed, assigned to nobody

[2014-08-31 12:49] diegopau opened #12 "Feature request: Performance - scalability info & load tests"
I've been watching and trying different implementations of Pusher.

Slanger (https://github.com/stevegraham/slanger) seems to scale really well as you can launch as many nodes as you want and they will use Redis to share channel state. But Slanger is not in such active development as Poxa is, and some features are missing. I am very glad to have found Poxa.

It would be awesome to have some info o

[2014-09-18 09:10] itifai opened #13 "IE 8, 9 support?"

[2014-09-18 09:17] #13 closed, assigned to nobody

[2014-09-20 06:18] #12 closed, assigned to nobody

[2014-10-28 08:39] edgurgel opened #16 "Add support to "filter-by-prefix" option on /channels"
https://pusher.com/docs/rest_api#method-get-channels

It's not possible to match a binary prefix through gproc/ets. One possible solution is to handle it as a erlang string and match it as it's just a list of chars.

[2014-10-29 10:14] edgurgel opened #17 "Use cowboy_rest on event_handler.ex"
Right now it's accepting any request (put, post, etc), but it should be more restrictive. It also could give better error responses.

[2014-11-03 09:16] #17 closed, assigned to nobody

[2014-11-03 14:56] aemadrid opened #18 "Distributed server example?"
I see it as a todo item but wonder if it is possible now but it is not documented?

[2014-11-03 16:32] #18 closed, assigned to nobody

[2014-11-09 05:16] SebastianEdwards opened #20 "Does not deploy to Heroku"
Currently cannot deploy via the 'Deploy to Heroku' badge. Probably something to do with [the recent Heroku stack changes](https://blog.heroku.com/archives/2014/11/4/cedar_14_now_generally_available). Log below.

[code]

[2014-11-10 20:43] #20 closed, assigned to nobody

[2014-12-10 08:58] edgurgel opened #22 "Add Webhook"
Webhook module will be subscribed to events (as the Console module) and will POST according to the docs from Pusher: http://pusher.com/docs/webhooks

[2015-02-09 08:10] #16 closed

[2015-04-23 03:05] manishval commented on #18
Hi @edgurgel, any update on this?

[2015-04-23 03:31] edgurgel commented on #18
Hey @manishval, I have a PR with the implementation here: https://github.com/edgurgel/poxa/pull/26
My main problem is how to set it up. It's not as simple as I want, but it's totally functional.

I want to play with it soon. I want to make it dead simple to set up a cluster and that's no the case right now.

[2015-04-23 03:33] manishval commented on #18
Thanks @edgurgel

[2015-04-29 11:25] arrowcircle opened #27 "Support of multiple apps via config"
Hi! It will be cool to have support of multiple pairs of apps/secrets via config file.
Any ideas about making this feature?

[2015-04-29 11:55] arrowcircle opened #28 "History support"
People asked pusher to make history. Its bad for user experience when you change page and loose message. Its cool to have "custom made" history for pusher. Any ideas?

[2015-04-29 14:52] darrencauthon commented on #28
My first thought would be that this could be an optional plugin?

I like how simple Poxa is.  Just pull and fire it up, and it works great.

But this would add some form of data persistence... the slippery slope, haha!

[2015-04-29 15:09] arrowcircle commented on #28
@darrencauthon I think history should be short, like 5 last messages for 5 minutes. Also, mnesia is standart erlang/elixir library so its not a problem.
I agree with you, it should be optional.

[2015-04-30 07:53] edgurgel commented on #27
It should be fairly easy to add this feature. I will start working on it soon.

[2015-04-30 07:59] edgurgel commented on #28
I will think on a sane way of having this, but I'm not sure if it's the case for Poxa. As @darrencauthon said if this could is done, it will be built on a way that is optional.

It's important to notice that It's not that it's not simply "use mnesia" because when we go distributed (and we are close to get there) this will be a problem as mnesia will not handle nicely a netsplit for example. Also o

[2015-04-30 08:41] arrowcircle commented on #28
@edgurgel I think for netsplit, history can be lost, because its not sensitive data. Netsplits are rare so its not a problem. I have no experience with distributed mnesia, but it seems like a good candidate for me.

[2015-04-30 22:01] arrowcircle commented on #28
@edgurgel Also, there is an erlang project with history functionality and decent code https://github.com/doubleyou/dps

[2015-05-02 05:13] edgurgel commented on #28
There are also concerns on how to give this history. This would need to be an extension to Pusher Protocol or some convention of event(s) that will happen when you subscribe.

[2015-05-02 05:17] edgurgel commented on #27
TODO:

* [ ] - Store id-key-secret so it can be checked for each request (Probably an ETS table instead of application env)
* [ ] - Add the app_id to the gproc reg/send calls so it will affect just connections related to the specific app_id

[2015-05-02 08:24] arrowcircle commented on #28
As I know, pusher support user events, so it can be done with custom user event "history".
Another option, is to use history option in config for each app id and send history after each user connection.

Second option is very arguable, but viable if first one is not easily available.

What do you think?

[2015-05-14 21:45] edgurgel opened #29 "Track Pusher changes related to channel name and socket id validations"
https://github.com/stevegraham/slanger/pull/185

[2015-05-14 23:15] edgurgel opened #30 "Track Pusher changes for the protocol version 8"
https://github.com/pusher/pusher-socket-protocol/pull/2/files

[2015-05-17 10:36] edgurgel commented on #29
TODO:

* [x] Generate socket ids on the form "NUMBER.NUMBER"  (https://github.com/edgurgel/poxa/commit/5a2ce6f4b941a029baa13483d086f01a929a2895)
* [ ] Validate socket_id sent on exclude recipients option
* [ ] Validate channel names

[2015-05-31 09:27] #29 closed

[2015-06-08 09:58] edgurgel opened #33 "Validate channel name according to pusher docs"
https://pusher.com/docs/client_api_guide/client_channels#naming-channels

[2015-07-03 22:02] doogie99 opened #34 "Question: Client ping causing error in poxa?"
Hi,

Poxa seems to be working well for me except for when the keep-alive ping is being sent from two different .NET based clients (PusherClient and JDI.Pusher) that I'm using. Here is a sample error message being kicked out by poxa:

15:43:46.601 [error] Ranch listener :http had connection process started with :cowboy_protocol:start_link/4 at #PID<0.351.0> exit with reason: {[reason: :function_cla

[2015-07-05 10:46] edgurgel commented on #34
Oh, hey @doogie99 this seems to be a missing clause for the websocket handler. I will patch it tomorrow! It's a really simple fix :+1:

Thanks for the report. As soon as I fix this I will release a new version.

[2015-07-06 10:19] edgurgel commented on #34
This [commit](https://github.com/edgurgel/poxa/commit/d42b25fe1c5830b2ca6c3a9c850f81aca333a494) should fix this. I just released a new version (0.4.1) with this bugfix.

Thanks for the report. Feel free to close the issue if it works for you.

[2015-07-06 15:41] doogie99 commented on #34
That solved the problem. Thanks for the fix!

[2015-07-06 15:41] #34 closed

[2015-07-08 12:01] funsterisdafunniest opened #35 "SSL setup on release version"
Hi, is there any way to enable ssl on the release version?
I can't seem to find it on the readme

[2015-07-08 18:27] darrencauthon commented on #35
I use SSL with Poxa, works just fine.  It's about halfway through the readme, with the following sample code:

[code]

[2015-07-09 03:22] funsterisdafunniest commented on #35
@darrencauthon  thanks, but that was for the build/dev version
i'm planning to use the release version which use different settings file (in the documentation, it's just below the line that you referred to)

[2015-07-10 10:20] edgurgel commented on #35
@funsterisdafunniest, I just releases a new version with the missing configuration for releases:

https://github.com/edgurgel/poxa/releases/tag/v0.4.2

I will update the README.md soon with instructions but the example `config/poxa.conf` should be enough to use it.

I tested with custom certificates. If you find any issues please report back! Thanks for opening the issue.

[2015-07-11 09:36] funsterisdafunniest commented on #35
@edgurgel thanks! i'll try it as soon as i get my hands on my development machine

[2015-07-11 09:36] #35 closed

[2015-07-26 11:07] ludo-h opened #36 "Getting "erlexec: HOME must be set" error when trying to run with supervisord"
I'm trying to run poxa with supervisord, because for some reason occasionally poxa will just die after a few weeks.

When I run it from the cli it just works.
But when running it through supervisord, it will output:
"/home/ludohelder/poxa/rel/poxa/bin/poxa: 79: /home/ludohelder/poxa/rel/poxa/bin/poxa: /erts-6.4/bin/escript: not founderlexec: HOME must be set"

This is my supervisord conf file
[cod

[2015-07-26 23:08] edgurgel commented on #36
Hey thanks for the bug report. I will take a look soon!

Strange that it takes weeks to raise this error Oo

[2015-07-27 08:40] edgurgel commented on #36
Could you please share which Linux distro and which version you are using so I can try to replicate the problem? Using supervisord on OS X seems to work just fine.

Also you mentioned that poxa was dying after a few weeks. I would love to know more about as it could be some misconfiguration with the release generated by `exrm`.

[2015-07-27 08:56] edgurgel commented on #36
Also I noticed you are using `poxa start`. I think you should use `poxa foreground` as supervisord expects that your application will not "daemonize". http://supervisord.org/subprocess.html#nondaemonizing-of-subprocesses

[2015-08-12 06:51] edgurgel opened #38 "Rethink what should be logged"
Right now there are some `Logger.info` calls around but no real thought around what should or should not be logged.

What should we log?

This will be also a good starting point to think about which metrics would be interesting to gather and send through something like [exometer](https://github.com/Feuerlabs/exometer).

[2015-08-12 07:59] sideshow commented on #38
:+1:

[2015-08-13 10:14] edgurgel commented on #36
Ping?

[2015-08-15 14:08] ludo-h commented on #36
I've tried the foreground, but also didn't work.

[2015-08-15 14:09] ludo-h commented on #36
I'm running it on: Ubuntu 14.04.2 LTS (GNU/Linux 3.16.0-44-generic x86_64)

[2015-08-17 08:23] edgurgel commented on #36
Reading again I noticed this message: "bin/escript: not found"

Are you sure that erlang is installed on this machine?

Could you run this `erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell` ?

It should output something like

[code]

[2015-08-17 10:51] ludo-h commented on #36
yes, it is installed. I can run poxa when I just manually run it from the cli.
But I would like supervisord to keep it running, since for some reason it stops running every 3-4 weeks.

This is the output of the erlang:
Erlang/OTP 17 [erts-6.4] [source] [64-bit] [async-threads:10] [kernel-poll:false]
"17"

[2015-08-17 10:55] edgurgel commented on #36
My guess is that supervisord does not have access to erlang PATH or something like this. Can try to run supervisord passing -n  (so supervisord will run on your terminal and output) just this command above `erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell` ?

I ran supervisord with Poxa on the same ubuntu version that you specified and I didn't have any issues :/

[2015-08-31 16:31] arrowcircle opened #40 "Docker pull edgurgel/poxa dont work"
Hi!
If you try to use regular docker syntax to pull image you get error

[code]

Could you please add tag latest to 0.4.2 image?

[2015-08-31 16:34] arrowcircle opened #41 "Docker run dont goes to background"
Hi!
If you run docker with

[code]

you will have poxa running on foreground. If i understand right, it should go in background and return from docker run command. What are the best practices for run poxa in docker?

[2015-08-31 21:01] edgurgel commented on #40
Sure! Thanks for the report! :+1:

[2015-08-31 21:09] edgurgel commented on #41
You can simply detach it using `-d`:
[code]

[2015-08-31 22:11] edgurgel commented on #40
Done: https://hub.docker.com/r/edgurgel/poxa/tags/

[2015-08-31 22:11] #40 closed

[2015-09-02 10:49] funsterisdafunniest commented on #27
Hi @edgurgel , i was wondering if this is still being worked on or is it a dropped feature.
If it's not extemely complicated, i might help with this. although my knowledge in erlang is fairly small, i might be able to do something if you point me to the right direction.

[2015-09-02 18:56] arrowcircle commented on #41
thanks for the answer!

[2015-09-02 18:56] #41 closed

[2015-09-02 21:50] edgurgel commented on #41
No problem! :+1:

[2015-09-02 21:50] #33 closed

[2015-09-03 09:48] edgurgel commented on #27
oh hey @funsterisdafunniest. I'm glad you asked cause I'm pretty close to finish this. I think I will have something ready during the weekend.

[2015-09-03 10:10] funsterisdafunniest commented on #27
@edgurgel  that's great! Thank you so much for creating this project! it really makes my life a lot easier than some of the other alternatives!

[2015-09-10 16:29] RobertoSchneiders opened #45 "Add support to configs via environment variables"
To use the docker image, I have to create a config file and copy it to the container (like [this](https://github.com/RobertoSchneiders/poxa/tree/elasticbeanstalk_deploy_instructions#deploying-on-elasticbeanstalk)). It would be easier (maybe better) to configure this settings by environment variables.

I'm deploying to AWS Elastic Beanstalk and If it were possible to configure by environment variab

[2015-09-10 17:01] RobertoSchneiders opened #46 "The docker run command suggested in the readme don't work"
The [readme](https://github.com/edgurgel/poxa#using-docker) suggests this command:
[code]

For me, this ends up in this error:
[code]

AFAIK, the `-v` option is used to mount directories, not files. ([Docker Run Command Line reference](https://docs.docker.com/reference/commandline/run/)).

I have no experience with docker, so, I'm unable to make this works with `run` command. Some references that

[2015-09-10 18:05] arrowcircle commented on #45
From readme

You can run and configure these values using these environment variables:

PORT=8080
POXA_APP_KEY=app_key
POXA_SECRET=secret
POXA_APP_ID=app_id

[2015-09-10 18:11] RobertoSchneiders commented on #45
Yeah, but this don't work with docker. It should?

[2015-09-10 18:17] RobertoSchneiders commented on #45
As an example, this do not work:
[code]

[2015-09-10 19:43] bsedat commented on #46
It was a little confusing but I got a directory error when it could not find the local file to link to the container.

[2015-09-10 19:46] bsedat commented on #45
I believe you have to expose the environment variable via the env flag `docker run --rm -p 8080:8080 -e POXA_SECRET=test edgurgel/poxa:0.4.3` but that didn't seem to work for me.

[2015-09-10 19:52] RobertoSchneiders commented on #45
You are absolutely right @bsedat. I forgot that. I tested this on ElasticBeastalk, which expose the envs for me and as you said, it didn't work.

[2015-09-10 19:53] RobertoSchneiders commented on #46
@bsedat I think this occurs because docker is looking for a directory, not a file.

[2015-09-10 21:31] edgurgel commented on #46
The -v option mounts files as well: https://docs.docker.com/userguide/dockervolumes/#mount-a-host-file-as-a-data-volume

That example is supposing you have "mypoxa.conf" on the working directory. Can you check if that's the case?

[2015-09-10 21:46] edgurgel commented on #45
The docker image uses the release generated by `exrm` and it's configured by the `.conf` files. This is important as this will translate to actual Elixir/Erlang terms.

It would be possible to translate ENV variables to these terms today but soon we will support multiple apps (https://github.com/edgurgel/poxa/pull/43) and this will become really complex to handle through ENV variables. I suggest m

[2015-09-10 21:51] RobertoSchneiders commented on #46
Yes, I have.

Sorry, I had not seen this part of the `-v` documentation. I'll do some more tests.

[2015-09-11 01:24] bsedat commented on #46
When I ran into this before my issue was that the config file had to exist on the docker server host.

[2015-09-11 12:18] RobertoSchneiders commented on #46
I make some more tests today and it's working perfectly. This was obviously my mistake.

I'm not sure what I did wrong in the first time. Probably some confusion with the name of the file :grimacing:. I noticed that some of my tests I made without `$PWD`, which don't work.

Sorry for bothering you.

Thank you

[2015-09-11 12:18] #46 closed

[2015-09-14 13:00] RobertoSchneiders opened #47 "Unknown server protocol version"
I'm trying to use the [.NET pusher client](https://github.com/pusher-community/pusher-websocket-dotnet) and I'm having some problems.

Like this:
[code]

From what I understand, the problem is the `Sec-WebSocket-Version` header. The error happens on the [WebSocket4Net](https://github.com/kerryjiang/WebSocket4Net/blob/master/WebSocket4Net/Command/BadRequest.cs#L33) library:
[code]

I don't know if

[2015-09-14 17:26] RobertoSchneiders commented on #47
The problem was on my nginx configs. I have to configure de websockets proxy as explained [here](http://nginx.org/en/docs/http/websocket.html)

[2015-09-14 17:26] #47 closed

[2015-09-14 19:55] RobertoSchneiders opened #48 "Why public events are not published?"
I'm trying to use public channels and I can't find a way to broadcast the messages. I see that messages for public channels are not being published ([code](https://github.com/edgurgel/poxa/blob/d42b25fe1c5830b2ca6c3a9c850f81aca333a494/lib/poxa/websocket_handler.ex#L104)).

I have to use private or presence channels? The .NET client library has a complicated authentication mechanism for this channe

[2015-09-14 20:44] edgurgel commented on #48
You mean client-events https://pusher.com/docs/client_api_guide/client_events#trigger-events ?

Client events are just for private/presence channels. From the docs:

A normal event is triggered through the `/events` REST API. I suggest you to read this https://pusher.com/docs/server_api_guide/interact_rest_api . After a quick search through pusher organisation I think you should use this: https://

[2015-09-14 21:05] RobertoSchneiders commented on #48
Thanks for clarifying.

The problem with this library is that it does not use websocket, so, I'll have to use two different libraries, one for sending messages and one for receiving. I wish I could avoid it.

[2015-09-14 21:05] #48 closed

[2015-09-14 22:05] edgurgel commented on #48
I see.. but that's how Pusher works. You can use client-events as they are generated through the websocket connection but they require private/presence channels.

More info: https://pusher.com/docs

![documentation___pusher_-_vimperator](https://cloud.githubusercontent.com/assets/30873/9863073/0f29e266-5b91-11e5-8309-df4e11d33870.png)

[2015-09-14 23:21] RobertoSchneiders commented on #48
Yeah, of course. I didn't mean to say it was your problem, I was just thinking out loud, sorry.

Thank you

[2015-09-14 23:31] edgurgel commented on #48
Haha. I'm sorry if it felt like I was complaining :)

no problem! :+1:

It's important to have authentication here as it would be fairly easy to spam your system using a public channel.

[2015-09-21 21:58] hrishiballal opened #49 "Changing App Key and App Secret does not work"
I am new to this project.

I forked the repository, changed the poxa.conf with a new created app_id, app_key and secret and deployed it on Heroku. The new app_key, secret does not work on the new server and the interface. However, the default variables work, even though poxa.conf was changed.

What am I missing? Would appreciate any guidance.

[2015-09-21 22:10] edgurgel commented on #49
I should change the README to clarify that the buildpack for Heroku does not use the `exrm` release so you need to either change `config/config.exs` or simply set the environment variables:

[code]

Using `heroku config:set` should be enough to achieve this.

Can you check if this works for you?

[2015-09-21 22:12] hrishiballal commented on #49
Thanks will check tomorrow.

[2015-09-22 19:34] hrishiballal commented on #49
Confirmed it works, thanks for this.

[2015-09-22 19:34] #49 closed

[2015-09-22 21:11] edgurgel commented on #49
Awesome :+1:

[2015-09-23 12:26] hrishiballal opened #50 "Using Pusher JS"
Hello,
I have been looking at this a bit more and trying to use Pusher JS.

A couple of issues, When I use the following to initialise the presence app, it gives me a app does not exist error:
[code]
Pusher.com uses API keys, how can one use the APP_ID, APP_KEY and APP_SECRET using Pusher-js?

[2015-09-26 06:13] edgurgel commented on #50
Pusher has the concept of `app id`, `app key` and the `secret`. The client uses the `app key` to identify with the server.

I just updated the README to make it clear: https://github.com/edgurgel/poxa/commit/577344b5d10ce4e2587b851fc99a5a7031306787

I would suggest reading the tutorials: https://pusher.com/tutorials

[2015-09-27 20:41] hrishiballal commented on #50
Thank you for your response, I am familiar with basics of Pusher since I am currently using it for a production app.

A couple of things:
When the app is deployed on Heroku, what is the port should a client connect to? Should wsPort be 8080 or 80? Heroku does not allow custom ports so hen I change [config.exs] (https://github.com/edgurgel/poxa/blob/master/config/config.exs) to port 80 (or 8080), c

[2015-09-27 21:49] edgurgel commented on #50
You can use ENV variables to configure Poxa on Heroku:

https://github.com/edgurgel/poxa/blob/master/config/config.exs#L9

[code]

This should probably be part of the Heroku section on the `README.md`.

I'm not sure why the Python library is failing. Maybe because it's trying to use HTTPS?

If that's the case it's necessary to configure heroku to server through SSL as well. As far as I remember yo

[2015-10-27 15:08] gerep opened #51 "Crypto.app error when using 'mix deps.get'"
Poxa: `v0.4.3`
Elixir: `1.0.0`
Erlang: `17.0`

Running `mix deps.get`

[code]

Is that an Elixir error?

[2015-10-27 15:37] gerep commented on #51
As I was expecting, it was a problem with Erlang not being compiled with openssl.

In case someone here faces the same situation....

When installing Erlang it is required to configure it with ssl and be sure to have the `development openss` package installed.

[2015-10-27 15:37] #51 closed

[2015-10-27 15:53] darrencauthon commented on #51
Thank you for the note on the resolution... notes like that on closed issues have saved me a lot of time. :smile:

[2015-10-29 22:04] hrishiballal commented on #50
Hi Sorry for the delay in writing from my side. I have been testing this a bit more and here is what I have.
In the config.exs file I have set the port to 443 (SSL) and deployed on Heroku (https://poxa-test.herokuapp.com/)

You can see that using app_key and secret, it is connecting fine, but I cannot use it via the Javascript and Python libraries, I think that your hunch is correct. Unfortunately

[2015-11-01 03:17] ludo-h opened #52 "Unable to change config on heroku deployment"
Hi,

I've deployed on heruko, but am unable to change the configuration.

I've tried 2 things,
Changing the app_key and app_secret in `/config/poxa.conf`
and
Also tried by adding a `my_config.exs` (in the root?) and the `--config my_config.exs` to the command Procfile.

None of the above work, it only works when I change the defaults fallbacks in `/config/config.exs`

[2015-11-01 23:10] ludo-h commented on #52
wasn't clear to me that I could use the env variables (Heroku config vars) as I found when reading the other issues.

[2015-11-01 23:10] #52 closed

[2015-11-02 20:41] edgurgel commented on #51
Thanks for sharing! :+1:

[2015-11-02 20:41] edgurgel commented on #50
You can probably check if the client libraries accept not using SSL. Pusher JS has the option use unencrypted connections with Pusher/Poxa.

[2015-11-02 20:42] edgurgel commented on #50
It doesn't look like a real issue with Poxa and Pusher JS. I will be closing this issue and we can reopen if we find something new.

[2015-11-02 20:42] #50 closed

[2015-11-24 15:01] gerep opened #53 "Warning about latin1 encoding while using UTF-8"
When running poxa from my upstart script I get this warning:

[code]

Running `locale` I get this:

[code]

Is there anywhere else I can configure it? Am I doing something wrong?

[2015-11-24 19:02] darrencauthon commented on #53
Do you get the same warning if you run Poxa without upstart?

[2015-11-25 00:06] gerep commented on #53
@darrencauthon No, just when using upstart

[2015-11-25 20:57] edgurgel commented on #53
Oh hey! Can you share your upstart script or a small script so I can test myself? And also can you give me the Erlang version you are using? Cheers!

[2015-11-26 10:37] gerep commented on #53
@edgurgel  of course and sorry for not doing that when opening this issue

Erlang: `Erlang/OTP 18 [erts-7.0] [source] [64-bit]`

[code]

Check the log at `/var/log/poxa.log` to see the Warning message

[2015-12-02 17:01] gerep commented on #36
Take a look at this answer:

http://stackoverflow.com/a/19611920/745235

[2015-12-02 17:13] gerep commented on #53
Change my upstart script to call `foreground` and the same error happens

[2015-12-02 17:19] gerep opened #54 "cowboy_protocol error"
I just checked my logs, Poxa is running and working but I see this often, what is it telling me? :smile:

[code]

[2015-12-03 22:03] edgurgel commented on #53
Thanks for the info. I will take a look at this during the weekend. Sorry for the massive delay to reply.

[2015-12-03 22:03] edgurgel commented on #54
Thanks for opening the issue. I will take a look soon! :)

[2015-12-04 12:25] arrowcircle commented on #45
@edgurgel Hi!
I tried to deploy poxa via docker and found interesting thing. When I run docker image and pass env vars POXA_APP_ID, POXA_SECRET, POXA_APP_KEY it totally ignores it and use default from config.
Is it possible to fix docker image to use env vars instead of config?

PS. Please tag docker image 0.4.3 as latest.

[2015-12-05 08:48] edgurgel commented on #45
My previous comment is still valid and the env variables won't handle the configuration as soon as we move to multiple apps. Then I would need to support both ways :/
I would suggest you to put a conf file and mount as a volume as pointed in the README file.

I will tag the latest as 0.4.3!

[2015-12-05 08:52] edgurgel commented on #54
Well I'm keen to update cowboy/ranch so we can check if this may fix this weird error.

[2015-12-05 09:12] edgurgel commented on #53
Does it fix if you do `env LANG=en_US.UTF-8` in your file?

[2015-12-06 20:37] arrowcircle commented on #45
@edgurgel I see the problem, its impossible to pass hashes to env vars, but its easy to add one "if" to check if ENV vars are valid and ignore config. It will enable both env and config ways. And env is good way to use according to http://12factor.net/config

Also, if you use shared application settings (for pusher gem), you only need to point it to env var and have no problems with sharing settin

[2015-12-06 21:21] edgurgel commented on #45
If I keep the env vars as config they will be limited to a single application as already discussed. I would like to keep the priority of configuration like this:

`.conf file` -> `ENV vars` -> `default values`

I'm not sure how to accomplish this with the current schema.

[2015-12-09 09:31] arrowcircle commented on #45
But in this case ENV vars in docker image is unusable.
Problem is not with priority of vars, but with docker image. It always have config, so its impossible to use env vars. Is it possible to fix it?

[2015-12-09 15:03] arrowcircle commented on #45
Ok, but how we can fix docker image? It comes with config and totally ignores ENV vars. Is it possible to fix it?

[2015-12-11 17:12] arrowcircle commented on #45
@edgurgel Could you please share Dockerfile? I can try to build custom poxa image with support on env vars

[2015-12-11 21:55] edgurgel commented on #45
Poxa doesn't have a Dockerfile as it uses `edip`.

Even if you build your own image it won't load as ENV vars are load only by mix config (https://github.com/edgurgel/poxa/blob/master/config/config.exs#L9) and mix is not available as part of a release. The heroku buildpack uses mix to run it by default and that's why it works with ENV vars there.

You can always just build a docker image using mix

[2015-12-13 19:09] daande commented on #54
I am seeing something similar.
[code]

[2015-12-14 00:30] edgurgel commented on #54
It feels like a faulty client that is sending an HTTP method that is not correctly parsed. I plan to update cowboy and ranch so we can see if this was some bug with our http server. I will release a new version with it soon!

[2015-12-14 01:16] daande commented on #54
Okay thank you!

[2015-12-14 05:44] edgurgel commented on #54
Probably related: https://github.com/ninenines/cowboy/issues/448

[2015-12-14 18:08] arrowcircle commented on #45
@edgurgel Thats really strange behaviour. So there are no easy way to use ENV vars in docker?

[2015-12-14 20:46] edgurgel commented on #45
There's but we would need to change current code to load them if there's no config available OR you would need to build a docker image using mix to run it (which is not the way exrm releases work)

[2015-12-14 20:47] edgurgel commented on #45
My argument is that it's not a good change as soon these ENV vars won't work for multiple apps soon.

[2015-12-19 08:37] edgurgel commented on #54
I'm afraid this is just a faulty client that does not send proper HTTP request, but I just released Poxa 0.5.0 updating cowboy and ranch. https://github.com/edgurgel/poxa/releases/tag/v0.5.0

![It's something!](http://vignette2.wikia.nocookie.net/adventuretimewithfinnandjake/images/4/49/It's_something_(edited).png/revision/latest?cb=20130221021013)

[2015-12-23 18:16] Slamper opened #55 "Redis integration"
Do you plan to integrate Redis to store "session" data (persistence etc.) to allow horizontal scaling of poxa ?

[2015-12-23 21:42] edgurgel commented on #55
Why Redis would be necessary to scale Poxa?

We use `gproc` as our process registry (which stores "session" data) and we have a working branch for distributed Poxa: https://github.com/edgurgel/poxa/pull/26

It needs a little bit more of work but it's mostly working. I just didn't have free time to invest :)

[2015-12-23 21:42] #55 closed

[2015-12-23 22:27] Slamper commented on #55
Ok nice. I didn't know that it was capable to do this on it's own across multiple hosts :) I'm looking forward to seeing the working distributed poxa system. Great work !

[2015-12-23 22:59] edgurgel commented on #55
Hopefully I will push the multiple apps support forward and then focus on distributed Poxa :+1: Stay tuned! :)

[2015-12-24 02:56] iwanbk commented on #55
:+1:

[2015-12-26 10:56] Slamper opened #57 "Using env variables in favor of config"

[2015-12-26 16:15] arrowcircle commented on #57
Please read #45 Issue. We discussed that thing. I disagree and think env vars are good, but I am not a maintainer

[2015-12-26 16:21] #57 closed

[2015-12-26 16:29] Slamper commented on #45
One thing you can do is build your own Dockerfile based on the original edip image like this.
[code]
This would result in  a preconfigured Docker image that you can easily deploy from your private repository.
It is not best practise but at least this should work perfectly on hosted environments

[2015-12-26 17:13] arrowcircle commented on #45
@Slamper Problem is you need private docker repository

[2015-12-26 18:40] Slamper commented on #45
You've got a point there. To use env variables in the docker container you only have to change a few lines in the code. But as soon as multi app support will be implemented this will be broken as edgurgel pointed out.

[2015-12-27 10:48] arrowcircle commented on #45
@Slamper Actually, I think we need to write a script that generates poxa config from env variables if they are present. We simply run it before running docker container.
By the way, after the release of multiapps, we can think about easy setup for one application with env vars. Or read apps from config and add one from env vars (magic).
What do you think?

[2015-12-27 13:27] Slamper commented on #45
@arrowcircle that's a good idea.
We will have to add that script to the docker container and run it before the normal start script which should be no problem.

I just wrote a super simple dirty script which does this. It also uses the $POXA_APP_COUNT env variable to check how many apps we have and also supports multiple apps as far as I could get how they work from the multi-app branch.
It has a f

[2015-12-30 10:33] edgurgel commented on #45
If we agree with this solution we can add this script to the poxa docker image as a helper script.

[2015-12-30 11:12] Slamper commented on #45
@edgurgel I'm currently working on a small buildscript that can easily build the container with this script in the startup. Also this script only works in bash and the edip image only has dash so it will need some changes. I will get back when I've got something that is working

[2015-12-31 12:28] Slamper commented on #45
Ok I fixed the script and it works with the container.
Startup: https://gist.github.com/Slamper/2afb09806abd7915e9ab
setup_env: https://gist.github.com/Slamper/b883241e4bd79b88aa7b
Dockerfile: https://gist.github.com/Slamper/eaece9ac0f51664d2be0

I put the simple container on git: https://github.com/Slamper/easy_poxa
and setup an automated build on DockerHub: https://hub.docker.com/r/slamper/easy_

[2015-12-31 19:12] arrowcircle commented on #45
@Slamper I think we dont need COUNT variable. Just check app_id, key and secret. If they are present - generate config.

@edgurgel What do you think?

PS. Happy New Year!

[2016-01-01 11:34] Slamper commented on #45
@arrowcircle Happy New Year too.
I added the POXA_APP_COUNT variable to support multiple apps. I'm not sure whether this is the best way to do it but it works :)

[2016-01-03 05:16] edgurgel commented on #45
Hey guys1 Happy New Year!

Maybe start with a simple script and as soon as the multiple apps branch lands we can move to the one that supports multiple apps? I'm keen to move this forward these next weeks.

[2016-01-03 12:17] Slamper commented on #45
I simplified the script in my master branch to only support the single app version.
In the multi-apps branch there is support for the multi-app version.
https://github.com/Slamper/easy_poxa
https://github.com/Slamper/easy_poxa/tree/multi-apps
On Dockerhub the multi-app version is available with the :multi-apps tag

[2016-01-14 16:25] arrowcircle opened #58 "Got strange 4001 error"
Today I tested Pusher 3.0 JS client with Poxa on Chrome on Mac and got strange error:
![pusher_error](https://cloud.githubusercontent.com/assets/171336/12330093/6dbb0b76-baf4-11e5-8f50-8186db1cd159.png)
It uses app_id, app_key and app_secret eq to '1'.
My colleague also had same problem on Chrome on Mac. It works in Safari. It works in Chrome on Windows.
I tried to disable encryption in js client,

[2016-01-15 21:40] edgurgel commented on #58
I never had this problem. Can you replicate running locally or only when you use proxied over nginx?

[2016-01-18 13:07] arrowcircle commented on #58
@edgurgel I tried to run poxa locally, but cant catch same problem.

Poxa is running in docker, on port 8089, here is nginx config:

[code]

[2016-01-31 07:43] edgurgel commented on #58
Yeah it's ok to run only on Elixir 1.0.0. I also didn't manage to replicate. It seems to be related to nginx proxy?

[2016-02-01 09:59] arrowcircle commented on #58
@edgurgel The problem was with old nginx. After update I never get this error.

[2016-02-01 09:59] #58 closed

[2016-02-01 20:40] edgurgel commented on #58
Good to know! Thanks for the report!

[2016-02-01 20:41] #53 closed

[2016-03-03 08:51] edgurgel commented on #22
Closed by https://github.com/edgurgel/poxa/pull/60

[2016-03-03 08:51] #22 closed

[2016-03-03 08:53] edgurgel opened #64 "Add 'Vacated' and 'Occupied' events"
We need these events to properly send webhook and console events. Right now the implementation may not warn if the channel is actually vacated or not.

[2016-03-03 08:55] edgurgel opened #65 "Pass `user_id` to events where missing"
Some webhooks need the `user_id` if it's a presence channel. The events are:

* `client_event`
* `member_added`
* `member_removed`

[2016-03-03 08:59] edgurgel opened #66 "Add missing webhooks"
* `member_removed`
* `member_added`

More info here: https://pusher.com/docs/webhooks#presence

[2016-03-03 09:00] edgurgel commented on #65
Related to https://github.com/edgurgel/poxa/issues/66

[2016-03-03 09:04] edgurgel opened #67 "Delay member_removed and channel_vacated webhooks"
I was thinking on something like the handler saving for 3 seconds and if nothing comes to invalidate it (for example a `member_added` right after a `member_removed` on the same channel and same `user_id`)

The state of the handler should be used to check this.

[2016-03-03 09:06] edgurgel opened #68 "Batch webhooks"
The handler should be just a collector of requests to be sent and another process should keep watching the messages to be sent and batch them.

I was thinking on something like a simple ets table. This would even make it easier to deal with the delay for some events (https://github.com/edgurgel/poxa/issues/67)

[2016-03-04 19:46] #66 closed

[2016-03-04 19:48] edgurgel commented on #65
I will work on this today! :dancer:

[2016-03-05 07:30] edgurgel commented on #64
Closed by https://github.com/edgurgel/poxa/pull/70

[2016-03-05 07:30] #64 closed

[2016-03-05 08:15] #36 closed

[2016-03-05 11:14] #65 closed

[2016-03-15 03:44] edgurgel commented on #68
Closed by #72

[2016-03-15 03:44] #68 closed

[2016-03-15 03:45] edgurgel commented on #67
Closed by #72

[2016-03-15 03:45] #67 closed

[2016-04-10 04:24] lemesdaniel opened #79 "started the daemon"

[2016-04-10 04:33] #79 closed

[2016-05-29 08:05] edgurgel opened #81 "Deploy using Docker Cloud and remove Heroku demo"
This is more of a reminder to myself so that I set up using Docker Cloud and explain how to do as part of a README section.

[2016-06-22 20:35] coryfklein opened #82 "Signaturex compile failure on poxa 0.5.0"
Our systems use poxa 0.5.0 and just this morning the poxa 0.5.0 install isn't working.

[code]

It appears to be failing when trying to compile `signaturex` from the `mix compile` command. I'm trying to debug this for now, but if you have any advice it would be helpful. I'm not super familiar with the Elixir build system.

[2016-06-22 20:54] coryfklein commented on #82
Closing and moving to the signaturex repo.

[2016-06-22 20:54] #82 closed

[2016-06-24 09:31] PhillippOhlandt opened #83 "Invalid signature: Expected HMAC SHA256 hex digest of ..."
Hey,

we started Poxa via Docker with its default config. When I try to subscribe to a private channel, I get the following error:

[code]

I am not sure what is causing the problem. I am using version `v2.4.1` of the pusher php server lib and `3.1` of the javascript lib.

My code to return the auth key is the following:

[code]

Everything looks fine.

[2016-06-24 09:36] PhillippOhlandt commented on #83
Ok, seems like I just have to return the key as plain text.

[2016-06-24 09:36] #83 closed

[2016-06-24 09:58] PhillippOhlandt commented on #83
Yeah, the pusher php lib already gives me a json string. Everything works fine now :) Just ignore this, its friday :)

[2016-06-25 21:52] edgurgel commented on #83
All good! Good to know that it is working 👍

[2016-06-25 21:53] edgurgel commented on #82
Linking issue: https://github.com/edgurgel/signaturex/issues/4

Apparently the issue was with OTP 19 and Elixir 1.0.*

I will add newer versions to .travis.yml so that we test as many versions combined! Thanks for the heads up.

[2016-07-09 00:01] gmelika opened #85 "Do not log the app key/secret"
Not sure if this falls under the umbrella of issue #38 or not, but I thought it deserves its own issue.  This is obviously a security issue and should not be logged

[2016-07-10 08:45] edgurgel commented on #85
👍

[2016-07-19 10:50] matthewford opened #86 "ELB proxy protocol support"
Hi,

I'm having issues running this behind an ELB with SSL and proxy protocol enabled.

I'm not sure if this will help, but looks like the issue:

https://github.com/ninenines/cowboy/issues/708

They mention this repo could help:

https://github.com/heroku/ranch_proxy_protocol

[2016-07-19 17:50] matthewford commented on #86
Ended up not using proxy protocol and just using tls

[2016-07-19 17:50] #86 closed

[2016-08-19 01:43] edgurgel commented on #86
Oh cool! 👍 Thanks for the info

[2016-09-02 16:28] subhashsaran opened #87 "Network error connecting to pusher (Errno::ECONNREFUSED)"
I set it up poxa is running successfully on port 8080. Here are logs for same
[code]
But it's not transmitting messages to and fro. either channels are not binding properly or something. Pushe is giving me this error. `Network error connecting to pusher (Errno::ECONNREFUSED)`

[2016-09-04 01:22] edgurgel commented on #87
How can I replicate this issue? I'm having no issues to connect with Poxa.

[2016-09-05 04:54] subhashsaran commented on #87
This issues is solved, I was specifying wrong port in Configuration. We are currently using Slanger which is Ruby based with Pusher and it's not doing very well for us and we are Considering Elixir our Next option and Poxa would be a good migration option for us. is poxa compatiable with HaProxy which we are currently using on production to communicate with Slanger? Please advise on how do we set

[2016-09-05 06:56] edgurgel commented on #87
I can't see why it wouldn't work. I never tried to work with HaProxy and Poxa. I already used Amazon ELBs with Poxa and it worked fairly well.

I'm closing this issue as it's clear that it was just misconfigured.

[2016-09-05 06:56] #87 closed

[2016-09-12 19:24] haver33 opened #88 "The docker build command has a typo"
It should be `docker build -t local/poxa .`

Not `docker built -t local/poxa .`

[2016-09-12 20:52] edgurgel commented on #88
Thanks! Feel free to send a PR: https://github.com/edgurgel/poxa/edit/master/README.md

[2016-09-14 21:37] edgurgel commented on #88
Close by https://github.com/edgurgel/poxa/pull/89 . Thanks!

[2016-09-14 21:37] #88 closed

[2016-12-14 02:15] daveteu opened #90 "Webhooks"
I cannot find any documents to show where to enter the url for web hooks?

[2016-12-14 02:37] edgurgel commented on #90
Yeah we should have this info available through README. It should be just this configuration:

https://github.com/edgurgel/poxa/blob/master/config/poxa.conf#L16-L17

[2016-12-16 17:08] TheRusskiy opened #91 "Does it have the same 10kb limit as Pusher does?"

[2016-12-17 23:55] edgurgel commented on #91
Yes it does! https://github.com/edgurgel/poxa/blob/d0d68bcd652b611676448cdff279a3660c6227e4/test/event_handler_test.exs#L79-L87

[2016-12-17 23:55] #91 closed

[2016-12-18 20:20] TheRusskiy commented on #91
As far as I understand Pusher has it to limit client's ability to send unlimited data, but if it's self hosted, does it really make sense to have this limit? Make it optional at least?
@edgurgel

[2016-12-18 20:47] edgurgel commented on #91
Yes, It is there to protect servers so that they don't get overloaded. I would accept a PR to make it configurable through `Application env` (config.exs). Then users could simple say: my limit is 1 GB, etc

[2016-12-26 02:29] Revyn112 opened #92 "Error with SSL Option"
Hello,

i tried to start poxa with a SSL Port, but i get the following error:
`Transport option {:enabled, true} unknown or invalid.`

This is my config:

[code]

Also non-ssl connections working perfectly.

[2017-01-03 19:25] edgurgel commented on #92
Thanks for the bug report. I will investigate later today.

[2017-01-05 19:51] edgurgel commented on #92
Cool I've found the issue! Thanks for the report. I will release a version soon with this change.

[2017-02-07 19:24] tonygaetani opened #94 "client events not working on presence channel"
I'm having trouble dropping in poxa as a replacement for slanger/pusher. I'm using @Slamper's easy_poxa image and passing in my configuration as environment variables. I am setting the port, appId, key, secret and web_hook. My apps can authenticate with poxa, but when I attempt to send a client event nothing happens. I can see the clients sending the event, and the pusher-js/node library calling `

[2017-02-07 19:29] edgurgel commented on #94
Thanks for opening an issue. I will investigate this later. I usually test these features with an example app like https://github.com/pusher-community/pusher-presence-demo (but this one specifically looks pretty old :P)

[2017-02-07 19:57] tonygaetani commented on #94
Thanks, I saw that in the README, I'll see if I can get it working with my local poxa.

Also, I should have mentioned that I am using a fork of easy_poxa, so maybe it's related to how I'm setting the `poxa.web_hook` configuration url, but it seems fine to me.

here's the code to pass `poxa.web_hook` to the docker container
https://github.com/6RiverSystems/easy_poxa/commit/b92aa7f9fe8ad54f1fb1acb99

[2017-02-07 21:01] tonygaetani commented on #94
is this valid usage of `poxa.web_hook`?
```poxa.web_hook = "http://localhost:3100/api/pusher/event"```

is it supposed to be an array or something else?

[2017-02-07 23:01] edgurgel commented on #94
Hm so just to be clear, the problem is with web hooks and client events?

[2017-02-08 00:05] #92 closed

[2017-02-08 00:10] tonygaetani commented on #94
the problem is with client events. Currently all of my apps and services can connect to poxa and subscribe to a presence channel and they even receive the `pusher:subscription_succeeded` event, but when they trigger client events on the presence channel nothing seems to happen. I brought up the web_hooks because I made a change to easy_poxa involving setting the `poxa.web_hook` config and I though

[2017-02-08 00:58] edgurgel commented on #94
Oh I see! Cool gotcha. I will give it a go later today. Thanks for the detailed bug report

[2017-02-08 16:14] tonygaetani commented on #94
I wish I had more specific info for you because I really don't think it's a bug in poxa I'm more just asking for help to figure out what I'm doing wrong.

I should be able to send client events over a presence channel right? In the end that's all my app really does. There are two js clients running in the browser and 3 js clients running as back-end nodejs services. The two running in the browser

[2017-02-12 09:13] edgurgel commented on #94
Oh hey so what I did was: used the pusher presence demo with master poxa and client events are being sent. I suggest you to watch the console page to see what's going on:

<img width="942" alt="poxa_console" src="https://cloud.githubusercontent.com/assets/30873/22860925/5edc83ec-f170-11e6-943f-2b223b911cea.png">

Also maybe investigate a way to print out whatever the client receives somehow (maybe

[2017-02-21 14:27] tonygaetani commented on #94
@edgurgel I haven't been working on this and probably won't. I suspect that my webhooks were not properly configured, but I never got to the bottom of it. I do not suspect that this is a bug in poxa. Thanks for looking into it and helping me out.

[2017-02-21 14:27] #94 closed

[2017-03-08 14:00] mhmd1983 opened #96 "Enum.uniq/2 is deprecated"
Hello,
I get this error in console every time an event triggered
`warning: Enum.uniq/2 is deprecated, use Enum.uniq_by/2 instead
  (elixir) lib/enum.ex:2547: Enum.uniq/2
  (poxa) lib/poxa/presence_subscription.ex:40: Poxa.PresenceSubscription.subscribe!/2
  (poxa) lib/poxa/websocket_handler.ex:83: Poxa.WebsocketHandler.handle_pusher_event/4
  (cowboy) src/cowboy_websocket.erl:588: :cowboy_websocke

[2017-03-08 20:24] edgurgel commented on #96
Thanks for the report! it should be pretty easy to replace it by `uniq_by`

[2017-03-23 18:26] michaeltcoelho opened #97 "Multiple nodes, high availability"
Hi there,

are you guys using poxa on production? if so how do you guys handle high availability? How do you guys run poxa on 2 or 3 instances? I've got a tight deadline for a chat application and the way we planned our design is to have a cluster of pubsub servers exchanging messages and hooking up our chat microservice for each message for storaging.

[2017-03-23 19:52] edgurgel commented on #97
Hey! The distributed part of Poxa is still part of the TODO: https://github.com/edgurgel/poxa#todo

Happy to accept PRs :)

[2017-03-23 19:53] #97 closed

[2017-03-25 13:10] michaeltcoelho opened #98 "Is there anyone using Poxa on production?"
Hi there,

i'd like o know if is there anyone using Poxa on production. What issues or benefits are you having by using poxa?

Thanks.

[2017-03-27 20:33] edgurgel commented on #98
Another one from the README: https://github.com/edgurgel/poxa#who-is-using-it

[2017-03-27 20:33] #98 closed

[2017-04-13 14:06] darrencauthon commented on #98
@michaeltcoelho  I've used Poxa in production for a long time.

It was one of those applications that just worked.... I can't think of any problems I've ever had with it.

Now, just to be clear -- I didn't exactly tax it, as I was using it to maintain connections with a handful of multiple users at a time, and the messages I sent were very simple.  But it just worked out great, and this is one of

[2017-04-18 06:10] edgurgel commented on #98
@darrencauthon , it's always good to read this kind of comment. Thanks for sharing :)

[2017-04-28 21:15] JacobJohansen opened #99 "Error on custom config"
Hello, I keep getting this error when using a custom config through a docker volume, using the default config also causes the issue

` copying /app/poxa/releases/0.6.0/poxa.conf to /app/poxa/running-config/poxa.conf ...
pusher_1               | using /app/poxa/running-config/poxa.conf to populate "/app/poxa/running-config".
pusher_1               | ** (CaseClauseError) no case clause matching: {:e

[2017-04-29 05:58] edgurgel commented on #99
could you share how you are running (with docker run ...) ?

[2017-04-29 06:36] JacobJohansen commented on #99
im currently running it through docker compose

`pusher:
    image: edgurgel/poxa-automated:latest
    ports:
      - '8080:8080'
      - '8443:8443'
    expose:
      - '8080'
      - '8443'
    volumes:
      - .pusherssh/ssl.key:/priv/ssl/ssl.key
      - .pusherssh/ssl.cer:/priv/ssl/ssl.cer
      - .pusherssh/ca.cer:/priv/ssl/ca.cer
      - .pusherssh/poxa.conf2.txt:/app/poxa/running-config/pox

[2017-06-10 12:26] balugege opened #101 "Failled to start poxa with Erlang 20"
When running ```ruby@dispatch1:~/poxa$` ./rel/poxa/bin/poxa start``` with those Versions:

[code]

i get:

[code]
After downgrading erlang to Version 19 it works again as expected
[code]

[2017-06-11 20:50] edgurgel commented on #101
🤔 We may need to update conform. I know we are using an old version. I will have a look next weekend.

[2017-07-11 23:14] tkant commented on #50
@hrishiballal @edgurgel Theres a regex inside Pusher libs where it checks for app_id to be an integer value. So you have to use integer value as app_id

[2017-07-20 08:38] rosscdh commented on #85
may i suggest partial blackout to validate the expected key is there

[code]

[2017-07-20 08:40] rosscdh opened #103 "docker-compose not using env variables"
Firstly aaaawesome app. Thank you.

cant seem to start using just env vars in compose?

[code]

the poxa.conf does not make use of the env variables

[2017-07-20 20:34] edgurgel commented on #103
Yeah the release configuration does not work with environment variables: https://github.com/edgurgel/poxa#release-configuration

There's already a discussion around this topic here: https://github.com/edgurgel/poxa/issues/45

[2017-07-20 20:34] #103 closed

[2017-07-20 21:31] edgurgel commented on #45
We have good news! there's a new option on conform that understands env vars (at least for "default values") when you don't define a `.conf` file I suppose.

I will give it a try this weekend, also moving to distillery (no more exrm).

More here:
https://github.com/bitwalker/conform/blob/7c78207bea249771e952d474d9a710a575ee7cd1/docs/Getting%20Started.md#mappings

[2017-10-04 09:43] bumbar1 opened #104 "build fails"
Trying to build on Ubuntu 16.04:

* Elixir 1.5.2:

```** (Mix) Could not compile dependency :erlware_commons, "/home/prog1/.mix/rebar3 bare compile --paths "/home/prog1/git/libs/poxa/_build/dev/lib/*/ebin"" command failed. You can recompile this dependency with "mix deps.compile erlware_commons", update it with "mix deps.update erlware_commons" or clean it with "mix deps.clean erlware_commons"```

[2017-10-04 21:04] edgurgel commented on #104
Yeah we need to update to the newest elixir and update some deps

[2017-10-10 09:09] #90 closed

[2017-10-10 09:11] edgurgel opened #108 "Replace GenEvent with GenStage"
GenEvent is deprecated etc etc

[2017-10-12 09:29] #45 closed

[2017-10-12 09:45] edgurgel commented on #104
I just updated master with Elixir 1.5 + Erlang 20. I need to fix some stuff but soon a new release is coming 👍

[2017-10-12 09:45] #104 closed

[2017-10-12 09:45] edgurgel commented on #101
Master has a working version with Elixir 1.5 & Erlang 20. Soon a new release 🎉

[2017-10-12 09:45] #101 closed

[2017-10-12 09:45] edgurgel commented on #96
Removed on master!

[2017-10-12 09:45] #96 closed

[2017-10-30 11:57] GH0STL1N3R opened #109 "SSL issue on starting Poxa"
Hi all,

I freshly installed poxa on my machine and when run the command: `sudo elixir -pa _build/dev/consolidated -S mix run --config my_config.exs --no-halt` it hangs on  `[info]  Starting Poxa using SSL on port 8443`

I tried to disable ssl, but then it keeps hanging on `[info]  SSL not configured/started`

Am I doing something wrong or what could this be?

[2017-10-31 02:30] edgurgel commented on #109
are you using master? And what's inside your `config.exs`?

[2017-11-02 01:46] 1x24 opened #110 "How to set up the config file for version 0.7 (as a release)"
I couldn't get the v0.6 release to work with Elixir 1.6 and Erlang 20, so I cloned the Poxa repo, downloaded dependencies and generated the release. Finally I was going to run it as a daemon, but I needed to set up the config and there was no "releases" folder.

I found a config folder instead, and this had 4 files: config.exs, poxa.dev.conf poxa.prod.conf and poxa.schema.exs.

Some of those files

[2017-11-02 02:45] edgurgel commented on #110
Hey! Recently I did some refactor on the way we publish releases and the README.md is not 100% done. I should be able to finish this weekend and finally release a new version.

The release directory is now inside `_build` and yeah the conf is now per environment. You can find some generic docs here: https://hexdocs.pm/distillery/getting-started.html and here: https://hexdocs.pm/conform/getting-sta

[2017-11-02 17:08] 1x24 commented on #110
Great! I figured the docs were outdated but I tried to wing it anyway. I have checked out the links about Hex but I couldn't figure out what I needed to change, by myself as I'm pretty new to it. I will wait for the weekend release, then. Thank you.

[2017-11-03 21:03] edgurgel commented on #110
Cool I just updated the README with more info. Can you check if it's enough? My last step is fixing the docker build part. It's almost 100% but I still may need to do some tweaks. Then finally release 0.7.0

[2017-11-07 13:51] binary64 opened #111 "ETA on http://poxa.herokuapp.com/ coming back online?"
Hi,
Would you be able to re-instantiate http://poxa.herokuapp.com/ for us please?
It would help a great deal
Thanks

[2017-11-07 14:05] binary64 opened #112 "is pusher/pusher-http-php supported?"
Hi I'm trying to use https://github.com/pusher/pusher-http-php sending to poxa on port 8080 but it's coming back with error 500:--

[code]

Could it be because my client clock is different to server clock by 1 hour?

[2017-11-07 19:23] edgurgel commented on #112
What do you see on the poxa logs?

[2017-11-07 19:29] edgurgel commented on #111
Yeah I'm struggling with it :(.

I'm trying to run the docker container as part of Heroku but I'm failing to find what's the issue. It works locally but I not when it runs on Heroku. If someone knows more about Heroku and Docker feel free to try with the last automated docker built: https://hub.docker.com/r/edgurgel/poxa-automated/tags/

To run locally: `docker pull edgurgel/poxa-automated:latest`

[2017-11-08 06:13] binary64 commented on #112
[code]

my js/php:-

[code]

[2017-11-08 06:16] binary64 commented on #111
How about try https://zeit.co/now instead, it might be suitable for this.

[2018-01-06 05:49] 1x24 commented on #110
Hey Eduardo, thanks for all your help! I wanted to keep trying before I reached out again. No luck, sadly. I will just wait for the 0.7.0 release when you can get round to it.

[2018-01-07 02:35] edgurgel commented on #112
It looks like invalid json coming from the client? Oo

[2018-01-07 03:41] edgurgel commented on #110
Oh sorry for the slow feedback. I plan to move this forward this week. It seems to be working locally perfectly. I will review once again the README.md and probably release later this week

[2018-01-13 23:26] 1x24 commented on #110
Thank you, Eduardo!

[2018-01-14 06:58] edgurgel commented on #111
Finally got it right! It's online now!

[2018-01-14 06:58] #111 closed

[2018-01-14 07:02] edgurgel commented on #110
Ok so if you are building yourself, the file that you should change is:

`_build/prod/rel/poxa/releases/0.7.0/poxa.conf`

to generate a release:

`MIX_ENV=prod mix release`

You could also use the docker image to run using docker.

[2018-01-30 13:34] 7osCraft opened #113 "Deploying to Heroku issue"
Hello,
When I try to deploy this project to heroku using the provided button it gives me an error.
Here's the log:
[code]

[2018-01-30 19:49] edgurgel commented on #113
Thanks for raising this issue. I recently changed to use simply docker images. I will see what needs to be done to change the button 🤔 Thanks!

[2018-02-08 08:40] vusaalab opened #115 "When poxa run as a service in Ubuntu 16.4 an error is occur"
SERVICE

[code]

ERROR

[code]
LOCAL COMMAN  (Successfully works)

`/root/poxa/_build/prod/rel/poxa/bin/poxa start`

[2018-02-11 16:07] reignmaker opened #116 "Validation (?) error on sending socket_id"
Hello,
i have a problem with sending socket_id in API request.

[code]
Sending this request to pusher.com returns no errors and the console shows socket_id as well.

![image](https://user-images.githubusercontent.com/1104764/36075322-34c0c57a-0f5e-11e8-8a3b-339a5ca5adcc.png)

Am i missing something?

Thanks.

[2018-02-11 21:07] edgurgel commented on #116
This socket_id is not a valid socket_id for Poxa: https://github.com/edgurgel/poxa/commit/e965fff2357553f5e2cf65a008af7ac8964712e6

Poxa won't generate such `socket_id`

[2018-02-15 18:45] againer opened #117 "Poison.EncodeError for channels endpoints"
[code]

Tests are passing, but it fails when accessing the endpoint using:
[code]
The problem is coming from: https://github.com/edgurgel/poxa/blob/master/lib/poxa/channels_handler.ex#L104

The encoder also fails for:
[code]

[code]
from:
https://github.com/edgurgel/poxa/blob/master/lib/poxa/channels_handler.ex#L84

[2018-02-15 19:53] againer commented on #117
https://github.com/edgurgel/poxa/pull/118 should fix it

[2018-02-16 22:16] 7osCraft commented on #113
How is it now? Does it work
Thanks ☺

[2018-02-19 01:24] #117 closed

[2018-02-21 07:00] #116 closed

[2018-03-06 00:54] top1st opened #120 "Cluster error cannot find app_key"
`funds-24c429bb06c2cc08964f6807d916bcc08ee29a72944c49ff892c6e2242ff5240.js:14481 Pusher : Error : {"type":"PusherError","data":{"code":4001,"message":"Did you forget to specify the cluster when creating the Pusher instance?  App key app_key does not exist in this cluster."}}`

I have installed poxa and used defualt config
poxa config there is not option cluster.
Could you check what is this proble

[2018-04-17 17:02] kofronpi commented on #113
Same question here, I'm investigating if poxa is reliable enough in production to replace pusher which is very costly at scale.

[2018-04-18 00:36] edgurgel commented on #113
I just didn't have time to change the button definition :(, but it's basically deploying the docker image. The existing poxa.herokuapp.com uses the docker container that we provide: https://github.com/edgurgel/poxa/blob/master/README.md#using-docker

[2018-04-21 00:26] vetal20600 opened #121 "Why pusher javascript client can not subscribe when application is running on localhost."
I have Rails application and I want to us posa. I think it's beautiful software
However I am having issues using Posa and I am trying to figure out why it happened.
When I try to put settings in my Rails application which allow to connect to http://poxa.herokuapp.com/ it shows me next log:
![screen shot 2018-04-21 at 03 17 26](https://user-images.githubusercontent.com/4103746/39078439-017984fa-451

[2018-04-21 16:43] vetal20600 commented on #121
Ok what I know now. For some reason javascript pusher client works (connect/subscribe and so one) if I put:

[code]

but my Rails application does not produce any api messages.
At the same time if I run on localhost, it produces messages but pusher javascript client does not work. Can't figure out what happens. Maybe this is server security related so I have to check router and open some ports?

[2018-04-22 22:56] vetal20600 commented on #121
I am trying to connect Posa with [peatio](github.com/peatio/peatio) which uses Pusher service by default.
One more thing.
That software connected with your instance of Posa (poxa.herokuapp.com) and deployed on server with dedicated IP works as expected.
However same software deployed on server which is put in router does not generates API Messages, only javascript pusher client works.

[2018-05-16 16:57] demuskov opened #122 "Timeouts/connection closed errors with benchmark tests"
Hi!
I'm trying to make env for handle, for example 5-7k connections. I'v read (https://github.com/edgurgel/poxa/issues/12), but do not able to reproduce that success story.

Socket/files limits is 500000 on the poxa-machine. Erlang and Elixir versions are (Install instructions from https://gist.github.com/rubencaro/6a28138a40e629b06470):
 - Erlang/OTP 20 [erts-9.3] [source] [64-bit] [smp:8:8] [ds:

[2018-05-16 22:56] edgurgel commented on #122
Hey @demuskov  thanks for opening this issue. I will give it a try on this benchmark again this weekend. Thanks for opening this issue

[2018-05-16 23:02] #110 closed

[2018-05-16 23:03] #85 closed

[2018-05-16 23:03] #109 closed

[2018-05-17 09:02] demuskov commented on #122
Thanks, Eduardo!
Btw, I think, that cowboy connection limits somehow exhausted. And if you trying to look through poxa web console - you eventually get unresponsive poxa endpoint.

PS. Now I'm trying to redesign your benchmark for the following case:
- Three or four independent subscription source machines with 500-1000 processes
- One publisher, that emit 10 messages

Thanks once more.

[2018-05-18 16:38] demuskov commented on #122
Hi! I'v practiced with benchmark-based code on a few machines with Ubuntu 16 (poxa server) and Mint 18 (poxa multiple clients). Network settings for Ubuntu adjusted for heavy-load web server. Mints - highest limits (fds - 500000).

Poxa on ubuntu used with several start options (daemon, console) - behavior was identical in all cases.

Two scripts:
- publisher.exs - publish 10 msgs to the "channel"

[2018-05-19 02:02] edgurgel commented on #81
Using the docker image is the best way to deploy poxa. The delpoy to heroku button was removed.

[2018-05-19 02:02] #81 closed

[2018-05-19 02:10] edgurgel commented on #113
Using the docker image is the best way to deploy poxa.. The deploy to heroku button was removed.

[2018-05-19 02:10] #113 closed

[2018-05-20 10:38] demuskov commented on #122
I do not think that we reach system limits at Ubuntu server. Consolidated env means that all processes - poxa and test suit ran on the single machine.

PS. Ubuntu server sysctl.conf:

[code]

[2018-06-08 11:41] lorenzbausch opened #123 "Changing payload_limit through poxa.conf"
Is it possible to override `payload_limit` through `poxa.conf`? I tried, but here seems to a pattern missing.
I also tried `docker run` with `-e PAYLOAD_LIMIT=20000` but the limit still remains at 10000.

[2018-06-09 07:16] edgurgel commented on #123
I think you are right. It's missing as part of the schema.exs: https://github.com/edgurgel/poxa/blob/master/config/poxa.schema.exs

I will update and release a new version 👍

[2018-06-09 09:09] #123 closed

[2018-06-11 07:04] lorenzbausch commented on #123
Awesome, thank you very much for your quick bug fix.
Do you plan to relase a maintenance release at some point or should we just use the `latest` tag?

[2018-06-11 09:41] edgurgel commented on #123
oops! I thought I had done this already! Just released 0.7.2! I also tested with `latest` it's  working as expected:

[code]

[2018-06-19 03:25] Dian8 opened #125 "[error] Failed to authenticate on Console Websocket"
Sometimes auth to built-in console works fine, But sometimes there is a following unspecified error :
[error] Failed to authenticate on Console Websocket
Why does it happen? How to log in?

[2018-06-19 04:05] Dian8 commented on #54
Similar cowboy_protocol error with poxa from docker image
edgurgel/poxa-automated:latest and pusher/pusher-php-server 3.0.4

[2018-06-20 07:29] CatMallV opened #126 "[error] Ranch listener :poxa had connection process started with :cowboy_protocol:start_link/4"
We are sending notifications using pusher/pusher-php-server ver 3.0.4
Sometimes notifications are sent ok but generally we are getting something like this:

[code]

[2018-06-20 07:42] Dian8 opened #127 "Server process crash on attempt to send notification"
Poxa server log:

07:46:16.797 [error] GenServer #PID<0.991.0> terminating
** (ArgumentError) argument error
    (kernel) gen_tcp.erl:149: :gen_tcp.connect/4
    (hackney) /source/deps/hackney/src/hackney_connect.erl:246: :hackney_connect.do_connect/5
    (hackney) /source/deps/hackney/src/hackney_connect.erl:37: :hackney_connect.connect/5
    (hackney) /source/deps/hackney/src/hackney.erl:315: :h

[2018-06-20 21:45] edgurgel commented on #127
Hey, thanks for the report!

Have you configured webhooks? 🤔

Can you explain exactly what have you done to get this error? Thanks!

[2018-06-20 21:47] edgurgel commented on #126
Hey thanks! I'm not very proficient with PHP but could you help me find an easy way to replicate this issue? 🤔

[2018-06-22 06:31] Dian8 commented on #127
I've just tried to get poxa up and running using pre-built docker image
  edgurgel/poxa-automated:latest
and php composer package
  "pusher/pusher-php-server": "^3.0.4",

No web hooks were configured

I had a client connected and notification sent from php. After I've found notification not delivered and server with original log.
Reproducibility is not 100% so I don't know exactly which action cau

[2018-06-22 06:32] Dian8 commented on #126
I have same issue. To reproduce:

  Use docker image edgurgel/poxa-automated:latest

  Install "pusher/pusher-php-server": "^3.0.4" via composer

  Code for sending message is like:

	$pusher =
		new Pusher\Pusher(
			'app_key',
			'app_secret',
			'app_id',
			[
				'host' => 127.0.0.1,
				'port' => 8080,
			]
		);

	$pusher->trigger('channel_id', 'event_id', ['data']);

Sometimes it works prope

[2018-06-22 23:22] edgurgel commented on #126
cool thanks for extra details, @Dian8

[2018-06-23 00:12] edgurgel commented on #126
So it was basically saying that the authentication is wrong. Can you check if you are using the correct secret, app_key, etc?

It could be also that the php client is not signing the request properly 🤔

Now you should get `401 unauthorized ` once this is merged and released.

[2018-06-23 00:58] #126 closed

[2018-06-24 01:39] edgurgel commented on #125
🤔 I will double check but it should be very similar to Pusher's auth etc.

[2018-06-24 03:30] edgurgel commented on #127
Ok it seems to be the case that it's trying to send a webhook because of the default config. I'm going to release a new version with a fix! Thanks for the bug report once again!

[2018-06-24 03:30] #127 closed

[2018-06-24 03:30] edgurgel commented on #127
https://github.com/edgurgel/poxa/releases/tag/v0.7.4

[2018-06-25 23:12] Dian8 commented on #125
I've found it happens only when authentication from remote host. From localhost auth works fine

[2018-06-27 03:12] Dian8 commented on #126
Tested: this issue is now gone. Thanks!

[2018-06-27 03:49] edgurgel commented on #126
Awesome! Thanks for the feedback!

[2018-06-27 14:28] Dian8 commented on #125
This issue seems to be back (

I have virtual machine with docker.
Docker is runned as follows:
`docker run --rm -p 192.168.1.150:8080:8080 -v $PWD/mypoxa.conf:/app/poxa/running-config/poxa.conf edgurgel/poxa-automated`

Config is default.

When I pulled new docker image (latest) everything worked fine.
After reboot authentication works only from this vm. Auth from any other machine results "Authe

[2018-06-27 22:01] edgurgel commented on #125
yeah I'm wondering if this is a websocket issue. Websocket is really annoying with hostnames. I will investigate more 👍

[2018-06-28 00:00] Dian8 commented on #125
I've found a following may help **sometimes** (~50%) for some time:

[code]

[2018-06-28 16:32] diego-vieira opened #129 "REST API not working for presence channel/users"
Hello, first off awesome work you've done.

I have successfully run the server with docker and manage to connect using javascript and pushing updates with PHP using the official sdk.

However, when doing [the following REST call](https://pusher.com/docs/rest_api#method-get-users), I'm getting an 500 error in the server console.
[code]

I have also used Postman and cURL to make sure that there is n

[2018-06-28 23:30] edgurgel commented on #129
Thanks for the bug report. I think I know what's the issue. It's probably related to the upgrade we on our JSON encoding lib. I will fix this issue this weekend.

[2018-06-30 04:20] #129 closed

[2018-07-02 10:48] diego-vieira commented on #129
@edgurgel just to let you know that v0.7.5 is working as expected, thank you for the quick fix. 👍

[2018-07-07 09:48] edgurgel commented on #129
Thanks for the feedback! :)

[2018-07-25 00:54] vetal20600 commented on #126
@edgurgel got same issue. I don't have any php at all
`01:39:26.896 [error] Ranch listener :poxa had connection process started with :cowboy_protocol:start_link/4 at #PID<0.4868.0> exit with reason: {[reason: {:badmatch, {:error, :enoent}}, mfa: {:cowboy_static, :rest_init, 2}, stacktrace: [{:filename, :absname, 1, [file: 'filename.erl', line: 73]}, {:cowboy_static, :rest_init_opts, 2, [file: '/ho

[2018-08-23 16:49] ow-grant opened #132 "Problem with using POXA"
Hello there, poxa is great, but i have a problem with using it.;
my ruby appliaction was writeen to use pusher and it works ok with it, but i have too many messages,
i'm trying to user Poxa, there is API messages in console, but no subscirbtions or anything else.
I was running debugger on pusher and compared messages -they are equal.

Maybe i need to setup poxa.web_hook?
But i have no idea what sh

[2018-08-27 21:53] edgurgel commented on #132
so there are 2 steps for using Pusher/Poxa. The javascript/client side and the server side. You need to ensure that both are talking to Poxa.

Have you followed these instructions here https://github.com/edgurgel/poxa#your-application ?

[2018-09-13 05:43] ilijastuden commented on #54
Similar error. Our logs are full of it.

Is there any way to track back this error message to the request that's casuing it? Anything that we could use to debug?

[2018-09-25 07:32] arrowcircle opened #133 "Docker image ignores config?"
Hi!
I tried to run latest version via docker, but it looks like it totally ignores config. I got sample config and changed port and credentials, after running it poxa runs with default parameters:

poxa.conf:
[code]
docker run:
[code]

log from container:
[code]

What I doing wrong?

[2018-09-25 09:28] edgurgel commented on #133
Our README was outdated! I just updated it: https://github.com/edgurgel/poxa/commit/8ea0acc50a9fefa9b2747ab5ce8938f358a84a23

Our plan is to remove support to config files and have just environment variables. Simplifying the project and making it more straightforward to everyone!

Thanks for the bug report!

[2018-09-25 09:28] #133 closed

[2018-09-28 13:55] vusaalab commented on #115
I changed my server to ubuntu 18.0, install elixir using "asdf" and change configuration as blew, now is working fine

[code]

[2018-11-08 19:28] gus4no opened #134 "Enable SSL with AWS ElasticBeanstalk"
Hello, so I've managed to run poxa console behind https just fine but wss doesn't seem to work. And I'm reaching out to see if you can help somehow. :)

By looking at the logs, I noticed that

`13:18:25.292 [info]  SSL not configured/started`

because I need to pass some extra options not just `:enabled` I also need to pass `:certfile` and `:keyfile`.

Is there a way I can leave this to EB balance

[2018-11-08 19:58] edgurgel commented on #134
AFAIK Amazon load balancers can deal with this for you as long as you provide the certificate to the load balancer. It will do the "proxying" as if Poxa could speak SSL.

[2018-11-08 20:06] gus4no commented on #134
mmmm... then it must be something else, because I can't even log into poxa console from https all I get is 400 errors.

Thanks for the quick reply :)

[2018-11-09 02:51] gus4no commented on #134
Turns out it was bad configuration in EB load balancers. Sorry :sweat_smile:

[2018-11-09 02:51] #134 closed

[2019-01-17 16:28] alexandrugheorghe opened #135 "user_id missing all events except presence ones"
I've just switched to using Poxa as a local development server instead of Pusher. Everything works fine except for the fact that the payload passed to the web hook for client events doesn't contain user_id.
The payload the web hook receives for client events is:
`{
  "time_ms": 1547733701277,
  "events": [
    {
      "user_id": "1685c1e0ca9048b8b7920253bd2112f2",
      "name": "member_added",

[2019-01-17 19:32] edgurgel commented on #135
Yeah we should add them 👍

[2019-01-18 10:15] alexandrugheorghe commented on #135
@edgurgel I don't have any elixir experience but if you give me some pointers I can try to make a PR to add user_id.

[2019-01-21 04:00] edgurgel commented on #135
No problem, @alexandrugheorghe . I'm happy to at them!

Can you clarify if Pusher is adding `user_id` to *every* event? It would be great to know which subset has the `user_id` 👍

[2019-01-21 11:45] matetukacs commented on #135
hi @edgurgel , I am a coworker of Alexandru's also working closely with Pusher. Pusher adds user_id to all events on all **private** and **presence** channels. Please follow the same if you can. We appreciate the support! p.s. awesome library, thanks for maintaining it:)

[2019-01-22 19:41] edgurgel commented on #135
Thanks for the info, @matetukacs.

I'm planning to do some Poxa work soon but I think it should be simple to "inject" `user_id` for channel events that can include an `user_id` 👍

[2019-01-30 07:02] #135 closed

[2019-01-30 08:18] edgurgel commented on #135
0.8.1 relesaed! 🎉

[2019-03-10 10:31] diego-vieira opened #139 "Disable Console"
Is there a way to disable or move to another URL the console?

I'm using docker with nginx as proxy and SSL.

![image](https://user-images.githubusercontent.com/930792/54083720-82dbc980-431f-11e9-9584-ad7edf5f0420.png)

Thanks

[2019-03-10 22:58] edgurgel commented on #139
There is no way today but it should be pretty simple to support an ENV variable that simply blocks console stuff 🤔

[2019-06-01 15:21] shincha3517 opened #140 "Poxa with Certbot letsencrypt problem"
I tried to config poxa with SSL using certbot but got error as below

**Poxa.conf**
`HTTPS port
If not set, will use value of SSL_PORT environment variable
poxa.ssl.port = 443

PEM-encoded CA certificate path
If not set, will use value of SSL_CACERTFILE environment variable
#poxa.ssl.cacertfile = "/etc/letsencrypt/live/mydomain.com/fullchain.p$
 Path to user certificate
If not set, will use value

[2019-06-01 21:51] edgurgel commented on #140
Hey @daoanhvuacc, how do I easily replicate this issue?  :D

[2019-06-02 08:11] daoanhvuacc commented on #140
Hi @edgurgel ,
Can you look at my Poxa.conf file and let me know if it was be configured correctly with:
[code]
the console log as:
14:27:56.437 [info] ['TLS', 32, 'server', 58, 32, 73, 110, 32, 115, 116, 97, 116, 101, 32, 'certify', 32, 'received CLIENT ALERT: Fatal - Certificate Unknown', 10]

Do you need more info to replicate my issue?

[2019-06-02 08:55] edgurgel commented on #140
Well easily replicating the issue usually means an easy way to run on my machine without a lot of setup.

Just by guessing... can you try using single quotes to define the ssl files?

I **think** this has to be an "erlang string" instead of an Elixir string.

[code]

[2019-07-13 08:23] #121 closed

[2019-07-13 08:24] #120 closed

[2019-07-13 08:24] #115 closed

[2019-07-13 08:24] edgurgel commented on #108
It was replaced by simply using `gproc`

[2019-07-13 08:24] #108 closed

[2019-07-13 08:24] edgurgel commented on #99
Config files will be removed on the next version. Just environment variables will be supported

[2019-07-13 08:24] #99 closed

[2019-07-13 08:25] edgurgel commented on #54
Cowboy got upgrade. The next version should have fixed a lot of issues. Feel free to reopen if it's still happening

[2019-07-13 08:25] #54 closed

[2019-07-13 08:26] edgurgel commented on #112
The only clients I've tested are the ones written in Javascript and Ruby.

[2019-07-13 08:26] #112 closed

[2019-07-13 08:28] #132 closed

[2019-07-26 11:52] huynt57 opened #143 "Docker run stuck"
Thanks for creating an awesome app
I have a question

When I run:

[code]

my log stuck at:

[code]
and poxa didn't start. What did I do wrong ? Thank you.

[2019-07-26 21:17] edgurgel commented on #143
Hey @huynt57 ,

I think you are missing the port exposure from docker? so you need to change to :

`docker run -d --name poxa -p 8080:8080 -p 8081:8081 ....`

So that 8080 is exposed outside of the container and 8081 as well. You can always remap them to different ports like 80, 433, etc.

[2019-07-27 05:14] huynt57 commented on #143
I changed my command as you said, but nothing changed. My docker logs still hang on there.

[2019-07-27 07:35] edgurgel commented on #143
I see. What happens when you do `curl -i localhost:8080` for exameple? Do you get any response?

[2019-07-29 01:12] huynt57 commented on #143
I got "Connection refused".
I also check and make sure there are no restriction on ports.

[2019-07-31 07:13] #143 closed

[2019-09-19 13:46] AnkitRathore175 opened #144 "Getting issue in connecting with locally hosted poxa"
Hi,
i have configured this on my localhost and trying to connect with https://github.com/pusher-community/pusher-presence-dem app with below config in pusher_init.rb-
[code]

And below config in config.exs:-
[code]

After this configurations i m getting below response in app
![image](https://user-images.githubusercontent.com/38749604/65249586-d8383500-db11-11e9-9a0a-0cd9c0c74222.png)

Please help

[2019-09-23 10:22] guru260 opened #145 "How to run poxa in local"
I have installed poxa using [this instruction](https://gist.github.com/rubencaro/6a28138a40e629b06470) After that I have cloned poxa.
[code]
How to run poxa? From the [docker file](https://hub.docker.com/r/edgurgel/poxa-automated/dockerfile) I thought it would be `_build/prod/rel/poxa start` But in my local I can not find such path. I have like `_build/dev` I can not rel or poxa directory. How to

[2019-09-23 21:02] edgurgel commented on #145
Hey @guru260 , you need to call `mix release` to generate a release: https://github.com/edgurgel/poxa/blob/master/Dockerfile#L24

If you want to run the development version without a release you can run `iex -S mix` which will open a console with the app open.

[2019-09-24 22:29] edgurgel commented on #144
Hey @AnkitRathore175, this ruby project is really really old. I would suggest you to upgrade the dependencies first or use some other example app.

[2019-09-25 13:10] AnkitRathore175 commented on #144
Hi @edgurgel
yes i resolved it, i was not using correct config,
However i wanted to know why i m able to use any numbers for app_id?
thanks

[2019-09-25 13:10] #144 closed

[2019-10-02 08:10] AnkitRathore175 opened #147 "trying to run poxa using ssl"
Hi
I m trying to configure the poxa using ssl for wss connection using below configuration in docker
but unable to connect with wss or https however ws/http working fine
FYI, ssl is configured correctly using Let’s Encrypt and all the relavant files are in priv/ssl folder
[code]

[2019-10-06 08:02] #145 closed

[2019-11-12 11:26] musabhusaini opened #153 "Ping endpoint responds with an error"
I am running poxa inside a Docker container (v1.1.0) and I need to use the `/ping` endpoint to test service readiness and heartbeat. However, the endpoint always results in a server error.

Here is a minimal scenario:

[code]

Expected: Something indicating success

Actual:
[code]

Also, this appears in poxa logs:

[code]

[2019-11-16 00:07] whatsdis opened #154 "where is poxa.conf and how do i change host to 0.0.0.0?"
I cannot find where the default poxa.conf file is, where does it need to be, what are the formats?

I need to change the host from localhost to 0.0.0.0 which is running on a webserver and I need to access it via 234.234.234:8080 for example.

[2019-11-16 23:12] edgurgel commented on #154
Poxa.conf is not used since 1.0.0. Every configuration is exposed by environment variables:  https://github.com/edgurgel/poxa#configuration

[2019-11-19 07:32] #154 closed

[2019-11-24 11:15] satish-blockchain commented on #121
Did anyone get this working?

I am facing the same problem with some domains. When I point the same docker to a different domain it works.
Not sure what it has to do with the domain. Can someone point out what might be wrong?

[2019-11-24 21:02] edgurgel commented on #121
It may be related to this https://github.com/edgurgel/poxa/issues/154 ? We may need to enforce cowboy to expose 0.0.0.0 instead of localhost? 🤔

[2019-11-28 01:55] tgmweb opened #155 "REST API error"
I'm getting an error when using the REST API. Switching my API calls from poxa to api.pusherapp.com works - so I don't think I'm doing anything wrong.

Error I receive in poxa is below:

`01:46:50.938 [error] Ranch listener :poxa_http, connection process #PID<0.1499.0>, stream 1 had its request process #PID<0.1500.0> exit with reason :badarg and stacktrace [{:erlang, :list_to_integer, ['1574905610

[2019-11-28 02:20] tgmweb commented on #155
ok - this is resolved. Seems pusher API is a little less strict about timestamp being a float (when it should be an int).

[2019-11-28 02:20] #155 closed

[2019-11-28 02:32] edgurgel commented on #155
Thanks for reporting back!

[2019-11-28 05:03] tgmweb opened #156 "1 minute disconnects"
Sorry for raising another ticket so quickly, but I've nearly got everything working. However, I'm getting exactly (well, within 5 second) reliable 1 minute disconnects.

I'm using pusher-js, and poxa is running on a m4 AWS instance with hardly anything running. I have poxa running on port 8080 and I'm connecting directly, not through a proxy like nginx. I do have nginx running on the same server -

[2019-11-28 15:35] tgmweb commented on #156
Just to update - I get the same 1 minute disconnects on https://poxa.herokuapp.com, so I don't think this is anything to do with my poxa setup. Also, it doesn't look like the herokuapp uses pusher-js, so that's not the issue either.

![image](https://user-images.githubusercontent.com/821589/69818203-2776a200-11f4-11ea-91f1-481fc77ef1d0.png)

[2019-11-28 16:07] tgmweb commented on #156
Update 3 - I get the same issue on https://poxa.herokuapp.com using my cellphone connected to 4G - which takes my PC, local network and everything else out of the equation.

After approx 1 minute I get booted and it asks for the app_key and secret again, despite there being activity over the socket.

[2019-11-28 20:29] edgurgel commented on #156
interesting... Thanks for the detailed report. I will investigate this weekend 👍

[2019-12-14 05:56] #156 closed

[2019-12-14 21:01] #153 closed

[2019-12-15 00:53] edgurgel commented on #156
Version 1.1.1 is out!

[2019-12-20 09:09] N4COM opened #161 "Scalability"
I'm looking for a pusher replacement or a server with private channel supports and broadcasting. Poxa seems be fine but I'm wondering if it is scalable horizontally. Can it work with several poxa nodes and a load balancer?

[2019-12-22 19:08] edgurgel commented on #161
Hi @N4COM,

Not possible today. There were discussions about this before but never a PR to introduce such thing. Options were: using Distributed Erlang with gproc or using Redis to connect nodes and gproc locally.

[2019-12-23 12:20] N4COM commented on #161
OK, thanks for your reply.

[2019-12-23 12:20] #161 closed

[2019-12-23 19:00] Hengjie commented on #161
@edgurgel how would you setup Redis to connect nodes and gproc locally? Would you be write up a tutorial on it? Thanks!

[2019-12-25 18:59] toannguyen1412 commented on #147
yes. same problem

[2019-12-26 03:38] edgurgel commented on #147
I think I found the problem. I will see if I can release a new version before the end of the year. Thanks for the report

[2019-12-27 17:32] toannguyen1412 commented on #147
It work find 8080.
but 8043 not working

[2020-01-11 23:32] edgurgel commented on #147
I couldn't replicate the issue :(

Using my own certificate works fine with curl for example

[2020-01-12 06:04] NevaJava opened #162 "How to use poxa without docker with multiple configurations on Ubuntu?"
Hello,

i've updated my poxa installation on ubuntu from 0.6 to 1.0.0 last night. After i started my both apps i realized that i got the following error.

[code]
`screen -dmS app1 elixir -pa _build/dev/consolidated -S mix run --config config/app1.exs --no-halt`
`screen -dmS app2 elixir -pa _build/dev/consolidated -S mix run --config config/app2.exs --no-halt`

How to use and handle now multiple co

[2020-03-20 11:13] Revyn112 commented on #147
@edgurgel is this problem fixed? we also can't use wss connections.
ERR_CONNECTION_CLOSED.

[2020-03-29 03:13] edgurgel commented on #147
I would advise people to use a load balancer with HTTPS support to serve SSL on top of the Poxa HTTP port if they are experiencing these issues. I can't replicate the issue.

[2020-03-29 13:06] Revyn112 commented on #147
@edgurgel i could provide you an access to our system if you want to have a look on it?

[2020-04-05 08:44] edgurgel commented on #162
Hi @NevaJava,

I suggest looking at the Dockerfile to see how you can run Poxa:

https://github.com/edgurgel/poxa/blob/09ff93db97f6d533fd2b7211557990f375401fc3/Dockerfile#L38

Running

`MIX_ENV=prod mix release` then  you can run the app inside

`_build/prod/rel/poxa start`

All configurations must be done through environment variables. So no config file can be loaded.

[2020-04-05 08:45] edgurgel commented on #147
@Revyn112, I appreciate the offer but ideally some way to replicate so that I can tweak and do whatever is needed to debug.

Maybe a repo that reproduces the issue?

[2020-05-04 18:15] Revyn112 commented on #147
@edgurgel i've fixed this problem after reinstall the whole system - don't know exactly what the problem was but now it works all like a charm like before ;) keep the good work up

[2020-06-02 23:19] tibbon commented on #161
How's the vertical scaling of it? Debating how big of a system we can run with this...

[2020-09-22 08:43] thanhtuanbk commented on #140
I also got the same error. Can you tell me how to fix it? Thank you very much!

[2020-09-22 08:45] thanhtuanbk commented on #140
Environment variables:
POXA_SSL="true"
SSL_PORT="8443"
SSL_CACERTFILE="/etc/letsencrypt/live/vnpsever.com/fullchain.pem"
SSL_CERTFILE="/etc/letsencrypt/live/vnpsever.com/cert.pem"
SSL_KEYFILE="/etc/letsencrypt/live/vnpsever.com/privkey.pem"

[2020-10-02 18:23] cvoege commented on #120
Is there any fix for this?

[2020-10-02 18:23] cvoege commented on #120
@edgurgel

[2020-10-03 02:46] edgurgel commented on #120
I dont know how to replicate this issue

[2020-11-06 17:53] goshabedunkevich opened #172 "Connection issue"
The client automatically gets disconnected after a certain amount of time.  When running on iOS, there seems to be an issue there too. It's unable to automatically reconnect when the connection is lost. The client also gets disconnected when using the Poxa console. Events can still be intercepted by the server when reconnecting.

[2020-11-06 20:27] goshabedunkevich commented on #172
Issue similar to https://github.com/edgurgel/poxa/issues/156

I'm running on iOS instead.

[2020-11-09 21:25] #172 closed

[2020-11-09 21:25] goshabedunkevich commented on #172
Setting the ACTIVITY_TIMEOUT worked.

[2020-12-01 02:58] jcs224 commented on #161
I'm curious about this as well. There's nothing really like this in the OSS as far as I can find, except for maybe Socket.io. Elixir seems better suited for this problem, however. The easiest way today would probably be using Redis with PubSub to emit events to a bunch of connected nodes. New to Elixir but could be fun to play with. Pusher is just too expensive if you have a lot of connections.

[2020-12-01 08:07] arrowcircle commented on #161
@jcs224  there is OSS https://github.com/centrifugal/centrifugo but not compatible with pusher.

[2020-12-03 18:34] jcs224 commented on #161
Thanks @arrowcircle, this looks quite neat! The Pusher compatibility would be my choice, because it would integrate with the Pusher client code already used in a lot of places. The Forem project is also looking at this tool, wanted to use their existing Pusher code but make it full OSS and scalable.

https://forem.dev/ben/explore-poxa-as-an-open-pusher-implementation-14dd

[2021-03-31 12:45] vunnamteja opened #177 "{"error":"Authentication error"}"
When tried to trigger event this error is occuring

[2021-04-14 05:12] vunnamteja commented on #177
use 123 or 1234 like that as app_id value for regex matching, it works fine now

[2021-04-14 05:12] #177 closed

[2021-07-13 13:00] ronlut opened #181 "Support batch events"
poxa doesn't support batch events: https://pusher.com/docs/channels/server_api/http-api#publishing-batches-of-events

[2021-11-25 09:16] shahariaazam commented on #139
This is an important feature I guess. For our current implementation, we are exposing poxa to internal and external two domain. I want to disable poxa console from public domain. Otherwise, it's a place to harvest bad actors that will create un-necessary request to backend.

[2022-04-08 21:08] agilityportal opened #182 "Connection drops after a few seconds"
While creating an instance on aws ec2 instance, the installation was successful, after a few seconds, the connection drops any ideas?

[2022-04-09 12:45] agilityportal commented on #182
do we need a reverse proxy?

[2022-04-09 20:28] edgurgel commented on #182
Hi @agilityportal , do you know how many seconds? Have you tried tweaking `ACTIVITY_TIMEOUT`?

[2022-04-10 15:14] agilityportal commented on #182
Hi @edgurgel yes, we tried a few different ports and time outs, like 30 mins, 60 mins, etc.  We going to try without the docker and ill report back our findings

[2022-04-10 20:55] edgurgel commented on #182
Hmmm maybe check the client side if there is any configuration there? Poxa should respect the activity timeout once the websocket is set up.

[2022-04-11 16:49] agilityportal commented on #182
Nothing wrong with the client we used pusher before as paid service, we also used the poxa settings and it works. we had it working but as soon as we changed the instance type the services we down we restarted it and not working.  Would you be able to help us or take look at our server it will really help? @edgurgel

[2022-04-11 20:39] edgurgel commented on #182
Do you see any specific error messages on Poxa's logs when the connection drops? Or on the client side? Any error message/error code?

[2022-04-11 20:57] agilityportal commented on #182
absolutely nothing, we even got some outsource a person to check and still could get it to work.  the client-side the messages are not been sent in the console it looks like the connection drops after a few seconds not sure if that is normal but I dont think its the reason.  would you be able to help us? by taking a look

[2022-04-13 05:06] edgurgel commented on #182
Hi @agilityportal, I don't have any time to look at this I'm sorry.

If you are not seeing any logs on Poxa's side and nothing Poxa's  console I'm afraid no connection is getting set up properly so it seems to be a connectivity issue. I've successfully used Poxa under an ELB/ALB before and it worked fine.

[2022-04-13 14:37] agilityportal commented on #182
ok a bit more information, now we have a stable connection, what the issue looks like now is that the message are been sent are slow like a few minutes in the client app, anything to point us in the right direction? @edgurgel

[2022-05-09 16:33] heitorpolidoro commented on #120
Having this issue.

In JS
[code]